/* Table Container */
.table-container {
    margin-top: 30px;
    padding: 100px;
    margin-bottom: 20px;
  }
  /*HINDI KO MALAGAY SA CENTER!!! ANU NAAAA*/ 
  
  /* Table */
  .table {
    width: 70%; /* Adjust width as needed */
    border-collapse: collapse;
    text-align: center; /* Center-align table content */
    font-weight: bold;
    padding-bottom: 30px;
    
  }
  
  /* Table Header */
  .table th {
    background-color: #f0f0f0;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center; /* Center-align table header */
  }
  
  /* Table Body */
  .table tbody {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
  }
  
  /* Table Row */
  .table tr {
    background-color: #fff;
    padding-bottom: 20px;
  }
  
  /* Table Row on Hover */
  .table tr:hover {
    background-color: #f5f5f5;
  }
  
  /* Input */
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%;
    box-sizing: border-box;
    text-align: center; /* Center-align input */
  }
  